$enable-flex: true !default;
$enable-rounded: false !default;
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/jquery-modal/jquery.modal.css";
$ps-rail-default-opacity: 0.6 !important;
@import "../../../node_modules/perfect-scrollbar/src/css/main.scss";
@import "../../../node_modules/compass-sass-mixins/lib/_compass.sass";
@import "../../../node_modules/compass-sass-mixins/lib/compass/_css3.sass";
$breakpoints: (xs: 544px, s: 544px, m: 768px, l: 992px, xl: 1200px);
@import "../../../node_modules/include-media/dist/_include-media.scss";
@import "../../../node_modules/modularscale-sass/stylesheets/_modular-scale.scss";
$ms-base: 16px;
$ms-ratio: $major-third;
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans:400italic,700italic,400,700);

$century-gothic-font-stack: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !default;
$opensans-font-stack: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif !default;

@font-face {
  font-family: 'Chunkfive';
  src: url('~/static/fonts/Chunkfive-webfont.eot#') format('eot'),
     url('~/static/fonts/Chunkfive-webfont.woff') format('woff'),
     url('~/static/fonts/Chunkfive-webfont.ttf') format('truetype'),
     url('~/static/fonts/Chunkfive-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

$color1: #13293d;
$color2: #006494;
$color3: #777777;
$color4: #cccccc;
$color5: #ffffff;

/* Bootstrap Fixes */
@media (max-width: 48em) {
  * {max-width: 100% !important;}
  .container,
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    .row{
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

.c-hamburger--htx,
.c-hamburger--htx.is-active {
  background: transparent;
}

:focus,
a:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
::selection {
  // background-color: #5bc0de;
  background-color: #d9534f;
}

body {
  font-family: 'Libre Baskerville', serif;
  font-size:1em;
  color: $color3;
  line-height:1.7;
  overflow-x:hidden;
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  color: black;
}
h1, h2, h3, h4, h5, h6 {
  line-height:1.4;
  margin-bottom: 0.5em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $opensans-font-stack;
}

a {
  color: black;
  text-decoration:none;
  &:hover {
    color: $color2;
  }
}
.btn {
  margin: 1em 0;
}
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-success,
.btn-success:focus,
.btn-success:active {
  background-color: $color2;
  border-color: $color2;
  &:hover {
    background-color: $color1;
    border-color: $color1;
  }
}

img{
  width:100%;
  max-width: 100%;
  height:auto;
}
small {
  font-size: 0.9rem;
}

header {
  margin-bottom: 2em;
  .jumbotron.jumbotron-fluid {
    padding:0;
    margin-bottom: 0;
    .parallax {
      text-align:center;
      background-position:center center;
      background-repeat:no-repeat;
      background-size:cover;
      background-attachment:fixed!important;
      overflow:hidden;
      h1,
      h2 {
        color: #fff;
        text-shadow: 
        0px 1px 0px #999, 
        0px 2px 0px #888, 
        0px 3px 0px #777, 
        0px 4px 0px #666, 
        0px 5px 0px #555, 
        0px 6px 0px #444, 
        0px 7px 0px #333, 
        0px 8px 7px #001135;
        font-family: Chunkfive, Arial, Helvetica, Sans-Serif;
      }
    }
  }
}



#size-banner{
  height: 36em;
  padding-top: 12em;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
h1 {
  font-size: ms(6);
  @include media("<xs") {font-size: ms(3);}
  @include media(">=xs") {font-size: ms(4);}
  @include media(">=m") {font-size: ms(5);}
  @include media(">=l") {font-size: ms(6);}
}
h2 {
  font-size: ms(5);
  @include media("<xs") {font-size: ms(2);}
  @include media(">=xs") {font-size: ms(3);}
  @include media(">=m") {font-size: ms(4);}
  @include media(">=l") {font-size: ms(5);}
}
h3 {
  font-size: ms(4);
  @include media("<xs") {font-size: ms(1);}
  @include media(">=xs") {font-size: ms(2);}
  @include media(">=m") {font-size: ms(3);}
  @include media(">=l") {font-size: ms(4);}
}
h4 {
  font-size: ms(3);
  @include media("<m") {font-size: ms(1);}
  @include media(">=m") {font-size: ms(2);}
  @include media(">=l") {font-size: ms(3);}
}
h5 {
  font-size: ms(2);
  @include media("<m") {font-size: ms(0);}
  @include media(">=m") {font-size: ms(1);}
  @include media(">=l") {font-size: ms(2);}
}
h6 {
  font-size: ms(1);
  @include media("<m") {font-size: ms(0);}
  @include media(">=m") {font-size: ms(1);}
  @include media(">=l") {font-size: ms(1);}
}
.work {
  .row-margin,
  .col-margin {
    @include media(">=m") {
      margin-top: 2em;
    }
  }
  .col-md-6 {
    h3 {
      font-size: ms(3);
      @include media(">=xs") {font-size: ms(1);}
      @include media(">=m") {font-size: ms(2);}
      @include media(">=l") {font-size: ms(3);}
    }
    .col-md-6 {
      h3 {
        font-size: ms(1);
        @include media(">=xs") {font-size: ms(1);}
        @include media(">=m") {font-size: ms(1);}
        @include media(">=l") {font-size: ms(1);}
      }
    }
  }
}

#navbar-main {
  z-index: 1;
  &.affixed-top {
  background: black;
  }
  &.affix {
  background: gray;
  top: 0;
  left: 0;
  right: 0;
  }
  &.affix-bottom {
  background: red; 
  }
}

section {
  padding: 8em 0 0 0;
  &.team {
    padding-top: 6em;
  }
}
#navbar-main {
  @include transition(all 0.25s ease-in-out);
  font-family: $century-gothic-font-stack;
  a {
    color: rgba(0, 0, 0, 0.8);
    &:hover {
      color: $color2;
    }
  }
  .nav-item {
    .nav-link {
      color: #ffffff;
      font-family: $opensans-font-stack;
      font-weight: 600;
    }
  }
  &.navbar-top {
    font-size: 1.5rem;
    @include media("<=xs") {font-size: 1.25rem;}
    @include media(">=m") {font-size: 2rem;}
    .nav-item {
      .nav-link {
        text-shadow: 
        0px 0px 0px hsl(0, 0, 47),
        0px 1px 0px hsl(0, 0, 33),
        0px 2px 0px hsl(0, 0, 20),
        0px 3px 0px hsl(221, 100, 10),
        0px 1px 1px hsl(221, 100, 10);
        &:hover,
        &:focus {
          text-shadow: 
          0px 0px 0px hsl(2, 64, 77),
          0px 1px 0px hsl(2, 64, 63),
          0px 2px 0px hsl(2, 64, 50),
          0px 3px 0px hsl(2, 64, 40),
          0px 1px 1px hsl(2, 64, 40);
        }
      }
    }
  }
  &.navbar-bottom {
    font-size: 1.25rem;
    background: rgba($color5, 0.8);
    @include media(">=m") {font-size: 1.5rem;}
  .nav-item {
    .nav-link {
      color: #000000;
      font-family: $opensans-font-stack;
      font-weight: 400;
      &:hover,
      &:focus {
        font-weight: 600;
      }
    }
    &.active {
      font-weight: 600;
      .nav-link {
        font-weight: 600;
      }
    }
  }
  }
  .nav-item {
    &.active {
      font-weight: bold;
      .nav-link {
        font-weight: bold;
      }
    }
  }
}

hr {
  border-top: 1px solid $color3;
  text-align: center;
}
hr:after {
  content: "\00a7";
  display: inline-block;
  position: relative;
  top: -0.85em;
  padding: 0 0.625em;
  color: $color3;
  background: $color5;
  font-size: 1.625em;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Must total 100% */
$team_portrait_cutoff1: 75%;
$team_portrait_cutoff2: 25%;
.team {
  p {
    text-align: justify;
  }
  .team_portrait {
    padding: 3em;
    @include media("<m") {padding: 1em;}
    img {
      max-height: 100vh;
      width: auto;
      margin: 0 auto;
    }
  }
  .team_left {
    -webkit-clip-path: polygon($team_portrait_cutoff1 0, 100% $team_portrait_cutoff2, 100% 100%, $team_portrait_cutoff2 100%, 0 $team_portrait_cutoff1, 0 0);
    clip-path: polygon($team_portrait_cutoff1 0, 100% $team_portrait_cutoff2, 100% 100%, $team_portrait_cutoff2 100%, 0 $team_portrait_cutoff1, 0 0);
  }
  .team_right {
    -webkit-clip-path: polygon(100% 0, 100% $team_portrait_cutoff1, $team_portrait_cutoff1 100%, 0 100%, 0 $team_portrait_cutoff2, $team_portrait_cutoff2 0);
    clip-path: polygon(100% 0, 100% $team_portrait_cutoff1, $team_portrait_cutoff1 100%, 0 100%, 0 $team_portrait_cutoff2, $team_portrait_cutoff2 0);
  }
  .social {
    .nav-link {
      margin: 0.25em 0.5em;
      .fa {
        font-size: 2em;
      }
    }
    @include media("<m") {padding-bottom: 2em;}
  }
}
.card {
  margin-bottom: 0;
  text-align: center;
  p.card-text {
    text-align: justify;
  }
  .card-img-overlay {
    .card-img-overlay-text {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0.5em;
      background: black;
      @include transition(all 0.15s ease-in-out);
      h3 {
        color: $color5;
        font-family: 'Libre Baskerville', serif;
        &:hover {
          color: black;
        }
      }
      .card-title {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
      }
      &:hover {
        background: $color5;
      }
    }
  }
}
.card-group {
  .card-img-fill {
    min-height: 18rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include media("<=xs") {min-height: 14rem;}
    @include media(">=m") {font-size: 18rem;}
    @include media(">=xl") {font-size: 22rem;}
  }
}

#contact.contact.container,
#footer.footer.container {
  width: 100%;
  margin: 2em auto;
}
form {
  .form-control-label {
    border: 0;
    &[for="submit"] {
      display: none;
    }
  }
}
.alert {
  margin: 2em 0;
}

/* Modals */
#work_1.wrapper,
#work_2.wrapper,
#work_3.wrapper,
#work_4.wrapper,
#services_1.wrapper,
#services_2.wrapper {
  max-height: 100%;
  max-height: 100vh;
  overflow-y: auto;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  >div.wrapper_overlay {
    display: block;
    z-index: -1;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    @include background(linear-gradient(left, rgba(#ffffff, 0.85), rgba(#ffffff, 0.85)));
  }
}

// jQuery-Modal overrides
.modal.wrapper {
  overflow: auto;
  position: absolute;
  width: 80%;
  max-width: 80%;
  height: 80%;
  max-height: 80%;
  margin: 10% auto;
  padding: 0;
  border-radius: 0;
  background: #ffffff;
  text-align: justify;
  >div.wrapper_overlay {
    padding: 2rem;
  }
  a.close-modal {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
  }
  p {
    color: #000000;
    font-size: 1.25rem;
  }
  &.scrollbar-margin .ps-scrollbar-x-rail {
    margin: 0 1em;
  }
  &.scrollbar-margin .ps-scrollbar-y-rail {
    margin: 1em 0;
  }
  @include media("<xs") {
    width: 95%;
    max-width: 95%;
    height: 95%;
    max-height: 95%;
    margin: 2.5% auto 0 auto;
    >div.wrapper_overlay {
      padding: 0.75rem;
    }
  }
  @include media(">=xs") {
    width: 90%;
    max-width: 90%;
    height: 90%;
    max-height: 90%;
    margin: 5% auto 0 auto;
    >div.wrapper_overlay {
      padding: 1rem;
    }
  }
  @include media(">=m") {
    width: 80%;
    max-width: 80%;
    height: 80%;
    max-height: 80%;
    margin: 5% auto 0 auto;
    >div.wrapper_overlay {
      padding: 1.5rem;
    }
  }
  @include media(">=l") {
    width: 70%;
    max-width: 70%;
    height: 70%;
    max-height: 70%;
    margin: 5% auto 0 auto;
    >div.wrapper_overlay {
      padding: 2rem;
    }
  }
}
